@import './variables';

body{
    overflow-x: hidden; 
    @include image-style(100%, 100%)
}

a{
    text-decoration: none;
    color: white;
    transition: 0.5s;
    &:hover{
        text-decoration: underline;
        transition: 0.5s;
    }
}

nav{
    font-weight: 500;
   color: $secondary-color;
    background-color: $main-color;
    .logo-nav{
        @include image-style(120px, 120px)
    }

    .nav-link{
        transition: 0.7s;
        font-size: 20px;
        border-radius: 5px;
        color: $secondary-color;
        &.nav-link:hover{
            background-color: $secondary-color;
            color: white;
            transition: 0.7s;
            text-decoration: none;
        }
    }

    .navbar-nav{
        .active{
            text-decoration: underline;
        }
    }    
   .navbar-toggler{
    color:$secondary-color;
    
   }
    
}

::-webkit-scrollbar{
    background-color: $secondary-color;
    width: 10px;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: rgba(255, 255, 255, 0.856);
    border-radius: 5px;
}




footer{
    margin-top: 15px;
    background-color: $main-color;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.logo-foot{
    @include image-style(120px, 120px)
}

.whatsapp-button {
    position: fixed;
    right: 0;
    bottom: 50px;
    width: 50px;
    height: 50px;
    background-color: #25d366;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.3s ease;
    overflow: hidden;
    z-index: 1000;
  }
  
  .whatsapp-button a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .whatsapp-button i {
    // width: 80%;
    // height: 80%;
    transition: transform 0.3s ease;
  }
  
  .whatsapp-button:hover {
    width: 200px; /* Expande para 200px ao passar o mouse */
    border-radius: 25px; /* Arredonda as bordas ao expandir */
    
  }
  
  .whatsapp-button:hover i {
    transform: scale(1.5); /* Aumenta o ícone do WhatsApp */
  }