@import "./variables";

.sobre-container{
    display: flex;
    align-items: center;
    justify-content: center;
    @include image-style(100%, 100%)
}
.text-quemSouEu{
    text-align: center;
    h1{
        color: $secondary-color;
        font-size:80px;
        transition: 0.5s;
    }
}
.contact-link{
    text-decoration: underline;
    color: $main-color;
    &:hover{
        color: $secondary-color;
    }
}
.experiencia{
    font-weight: bolder;
}

.card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card-custom{
    width: 18rem; 
    height: 38vh; 
    border-color: #fef102;
}

footer{
    margin-top: 80px;
}



@media (max-width:770px){
    .text-quemSouEu{
        h1{
            font-size: 60px;
        }
        .card-text{
            font-size: 13px;
        }
    }
}

@media (max-width:550px){
    .text-quemSouEu{
        h1{
            font-size: 30px;
            padding-top: 10px;
        }
        .card-text{
            font-size: 11px;
        }
    }
}